* {
    font-size: 13px !important;
}

/* Title bar */
.titlebar-spacer {
	display: none !important;
}

/* Tab bar */
#navigator-toolbox {
	border: 0px !important;
}
#TabsToolbar {
	margin-left: 3px !important;
}
#TabsToolbar > .tabbrowser-arrowscrollbox {
	overflow: visible !important;
}

.titlebar-buttonbox-container {
	display: none !important;
}

/* Remove placeholder text in the URL bar */
#urlbar-input::placeholder {
	color: transparent !important;
}
#urlbar {
	padding: 2px !important;
}

/* Hide URL bar text */
#urlbar-background {
	border: none !important;
}

#urlbar-border:focus-within {
	overflow: visible;
	height: auto;
}

/* Hide tracking protection icon */
#tracking-protection-icon-container {
	display: none !important;
}
#urlbar-container {
	width: auto !important;
}
#urlbar {
	box-shadow: none !important;
}
#page-action-buttons {
	display: none !important;
}

#urlbar-input {
    padding-left: 8px !important;
}

/* Hide site information button */
#identity-box {
	display: none !important;
}

/* Hide shield icon */
#tracking-protection-icon-container {
	display: none !important;
}

/* Hide forward and back buttons when not active */
#back-button[disabled="true"] {
	display: none !important;
}
#forward-button[disabled="true"] {
	display: none !important;
}
.personalize-button {
	display: none !important;
}

.tab-close-button {
    visibility: hidden !important;
    margin-inline-end: 0 !important;
    width: 16px !important;
    height: 16px !important;
    padding: 2px !important;
    opacity: 0 !important;
    transition: visibility 0.1s, opacity 0.1s ease-in-out !important;
}

.tabbrowser-tab:hover .tab-close-button {
    visibility: visible !important;
    opacity: 1 !important;
}

/* One-Line Tweak */
:root {
  --navbarWidth: clamp(300px, 30vw, 30vw);
	--animationSpeed: 0.15s;
}


/* Oneline tweak */
#TabsToolbar {
	margin-left: var(--navbarWidth) !important;
}

#nav-bar {
	margin-right: calc(100vw - var(--navbarWidth)) !important;
}

#urlbar-container {
	min-width: 0px !important;
}

:root[uidensity="compact"] #nav-bar {
	margin-top: -37px !important;
	height: 37px !important;
}

:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
	margin-top: -44px !important;
	height: 44px !important;
}

:root[uidensity="touch"] #nav-bar {
	margin-top: -49px !important;
	height: 49px !important;
}


/* Dragging space */
:root[sizemode="maximized"] #TabsToolbar {
	margin-top: 1px;
}

#TabsToolbar {
	margin-top: 5px;
}


/* Simplifying interface */
#nav-bar {
	background: none !important;
	box-shadow: none !important;
}

#navigator-toolbox {
	border: none !important;
}

.titlebar-spacer {
	display: none !important;
}

#urlbar-background {
	border: none !important;
}

#urlbar:not(:hover):not([breakout][breakout-extend])>#urlbar-background {
	box-shadow: none !important;
	background: none !important;
}

/* Add tab width constraints */
.tabbrowser-tab {
    min-width: 80px !important;
    max-width: 150px !important;
}
